<!-- services -->
<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Our Services</h2>
          <p>The point of using Lorem Ipsum is that it has a more-or-less </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="se_img">
          <figure><img src="assets/images/service1.jpg" alt="#" /></figure>
        </div>
      </div>
      <div class="col-md-4">
        <div class="se_img">
          <figure><img src="assets/images/service2.jpg" alt="#" /></figure>
        </div>
      </div>
      <div class="col-md-4">
        <div class="se_img">
          <figure><img src="assets/images/service3.jpg" alt="#" /></figure>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end services -->
