<div class="loader_bg">
  <div class="loader"><img src="../assets/images/loading.gif" alt="#" /></div>
</div>
<header>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
          <div class="full">
            <div class="center-desk">
              <div class="logo">
                <a href="index.html"><img src="../assets/images/logo.png" alt="#" /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
          <nav class="navigation navbar navbar-expand-md navbar-dark ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
              aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample04">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLink="/home" routerLinkActive="active">
                  <a class="nav-link">Home</a>
                </li>
                <li class="nav-item" routerLink="/about" routerLinkActive="active">
                  <a class="nav-link">About</a>
                </li>
                <li class="nav-item" routerLink="/services" routerLinkActive="active">
                  <a class="nav-link">Services</a>
                </li>
                <li class="nav-item" routerLink="/news" routerLinkActive="active">
                  <a class="nav-link">News</a>
                </li>
                <li class="nav-item" routerLink="/trainer" routerLinkActive="active">
                  <a class="nav-link">Trainer</a>
                </li>
                <li class="nav-item" routerLink="/gallery" routerLinkActive="active">
                  <a class="nav-link">Gallery</a>
                </li>
                <li class="nav-item" routerLink="/contact" routerLinkActive="active">
                  <a class="nav-link">Contact Us</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<router-outlet>
</router-outlet>

<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>Link Menu</h3>
          <ul class="link_menu">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/services">Services</a></li>
            <li><a routerLink="/news">News</a></li>
            <li><a routerLink="/trainer">Trainer</a></li>
            <li><a routerLink="/gallery">Gallery</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
          </ul>
        </div>
        <div class=" col-md-5">
          <h3>Contact US</h3>
          <ul class="conta">
            <li><i class="fa fa-map-marker" aria-hidden="true"></i><a routerLink="/contact">Address : Lorem Ipsum is <br>simply dummy</a>
            </li>
            <li><i class="fa fa-mobile" aria-hidden="true"></i><a routerLink="/contact"> Phone : +(1234) 567 890</a></li>
            <li> <i class="fa fa-envelope" aria-hidden="true"></i><a routerLink="/contact">Email : demo@gmail.com</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>News letter</h3>
          <form class="bottom_form">
            <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
            <button class="sub_btn" routerLink="/news">subscribe</button>
          </form>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <p>© 2019 All Rights Reserved. Design by <a href="https://html.design/"> Free Html Templates</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
