<div class="back_re">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="title">
            <h2>Latest News</h2>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="latest">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Latest News</h2>
          <p>The point of using Lorem Ipsum is that it has a more-or-less</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="news_img">
          <figure><img src="../../assets/images/nes.jpg" alt="#" /></figure>
        </div>
      </div>
    </div>
  </div>
</div>
